body {
  margin: 0, auto;
}

.main {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  height: 450px;
  width: 700px;
  border: 2px solid black;
  border-radius: 7px;
  display: flex;
  justify-content: space-between;
}

.play{
  background-color: orange;
  width: 100px;
  height: 40px;
  font-size: 16px;
  border-radius: 5px;
  font-weight: bold;
  position: relative;
  top: 25px;
  right: -70px;
}

.play:active {
  top: 24px;
  box-shadow: 0 0 0 60px rgba(0, 0, 0, 0.05) inset;
}

.new-game {
  background-color: orange;
  width: 100px;
  height: 40px;
  font-size: 16px;
  border-radius: 5px;
  font-weight: bold;
  position: relative;
  top: 80px;
  right: 30px;
}

.new-game:active {
  top: 79px;
  box-shadow: 0 0 0 60px rgba(0, 0, 0, 0.05) inset;
}

.snake-field {
  background-color: black;
  width: 500px;
  height: 400px;
  position: relative;
  left: 40px;
  top: 25px;
}

.limit {
  border: 1px solid rgba(0, 158, 5, 1);
  width: 18px;
  height: 18px;
  background: rgba(0, 158, 5, 1);
  float: left;
}

.markup {
  width: 18px;
  height: 18px;
  border: 1px solid rgba(255, 255, 255, 0.47);
  opacity: 0.01;
  float: left;
}

.snake {
  width: 16px;
  height: 16px;
  border: 2px ridge rgba(36, 168, 0, 1);
  background-color: rgba(23, 107, 0, 1);
  opacity: 10;
  border-radius: 6px;
}

.mouse {
  width: 16px;
  height: 16px;
  border: 2px ridge rgb(191, 196, 189);
  background-color: rgb(250, 253, 249);
  opacity: 10;
  border-radius: 6px;
}

.game-over {
  width: 16px;
  height: 16px;
  border: 2px ridge rgb(191, 196, 189);
  background-color: rgb(250, 253, 249);
  opacity: 10;
  float: left;
}






